# Q-1 List

In [1]:
abc=["aman",123,67.8,[1,2,3]]
abc

['aman', 123, 67.8, [1, 2, 3]]

In [8]:
abc[1]

123

In [9]:
abc[3][1]

2

In [10]:
abc.append("mango")
abc

['aman', 123, 67.8, [1, 2, 3], 'apple', 'apple', 'mango']

In [14]:
abc.index(67.8)

2

In [16]:
abc[:2]

['aman', 123]

# Q-2 Dictionary

In [17]:
jkl={"name":"raj","age":"21","colour":"red"}
jkl

{'name': 'raj', 'age': '21', 'colour': 'red'}

In [18]:
jkl.get('age')

'21'

In [19]:
jkl.keys()

dict_keys(['name', 'age', 'colour'])

In [25]:
jkl.pop('colour')

'red'

In [27]:
jkl["school"]="KV"
jkl

{'age': '21', 'school': 'KV'}

In [29]:
jkl.values()

dict_values(['21', 'KV'])

# Q-3 Sets

In [30]:
gh={"sam","good",1,2,2,3,4,7,7,7,8,8,9,4,5,6}
gh

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'good', 'sam'}

In [31]:
gh1={"sam",4,5}
gh1.issubset(gh)

True

In [32]:
gh.add("tape")
gh

{1, 2, 3, 4, 5, 6, 7, 8, 9, 'good', 'sam', 'tape'}

In [33]:
gh.remove(7)
gh

{1, 2, 3, 4, 5, 6, 8, 9, 'good', 'sam', 'tape'}

In [36]:
mammals = {'Tiger', 'Camel', 'Sheep', 'Whale', 'Walrus'}
aquatic = {'Octopus', 'Squid', 'Crab', 'Whale', 'Walrus'}
animals=mammals.union(aquatic)
animals

{'Camel', 'Crab', 'Octopus', 'Sheep', 'Squid', 'Tiger', 'Walrus', 'Whale'}

In [37]:
mammals = {'Tiger', 'Camel', 'Sheep', 'Whale', 'Walrus'}
aquatic = {'Octopus', 'Squid', 'Crab', 'Whale', 'Walrus'}
animals=mammals.intersection(aquatic)
animals

{'Walrus', 'Whale'}

# Q-4 Tuple

In [38]:
rt=("raju","fan","@")
rt

('raju', 'fan', '@')

In [39]:
rt.count('fan')

1

In [40]:
rt.index('@')

2

# Q-5 Strings

In [41]:
nm="  the crazy"
nm

'the crazy'

In [43]:
nm.upper()

'THE CRAZY'

In [45]:
nm.strip()

'the crazy'

In [48]:
df="the crazy prgrammer"
jk=df.replace("the","a")
jk

'a crazy prgrammer'

In [49]:
bn="APPLE"
bn.lower()

'apple'

In [51]:
cv="a good boy"
hj=cv.split()
hj

['a', 'good', 'boy']